export KUBECONFIG=~/.kube/home
export FLUX_FORWARD_NAMESPACE=flux
export SEALED_SECRETS_CONTROLLER_NAMESPACE=kube-system
export SEALED_SECRETS_CONTROLLER_NAME=sealed-secrets

if command -v asdf &>/dev/null; then
  if ! asdf plugin list | grep 'istioctl' &>/dev/null; then
    asdf plugin-add istioctl https://github.com/rafik8/asdf-istioctl.git
  fi
fi