apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: internal-ingress-cert
  namespace: istio-system
spec:
  issuerRef:
    kind: ClusterIssuer
    name: selfsigned
  secretName: internal-ingress-cert
  commonName: internal.home.alan-jenkins.com
  dnsNames: '*.internal.home.alan-jenkins.com'
